<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>despachar</servlet-name>
        <servlet-class>clases.despachar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>eleccionOfertas</servlet-name>
        <servlet-class>clases.eleccionOfertas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>eleccionMenus</servlet-name>
        <servlet-class>clases.eleccionMenus</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>eleccionEntrantes</servlet-name>
        <servlet-class>clases.eleccionEntrantes</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>eleccionPizzas</servlet-name>
        <servlet-class>clases.eleccionPizzas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>eleccionHamburguesas</servlet-name>
        <servlet-class>clases.eleccionHamburguesas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>eleccionPasta</servlet-name>
        <servlet-class>clases.eleccionPasta</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>eleccionEnsaladas</servlet-name>
        <servlet-class>clases.eleccionEnsaladas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>eleccionBebidas</servlet-name>
        <servlet-class>clases.eleccionBebidas</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>eleccionPostres</servlet-name>
        <servlet-class>clases.eleccionPostres</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>despachar</servlet-name>
        <url-pattern>/despachar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>eleccionOfertas</servlet-name>
        <url-pattern>/eleccionOfertas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>eleccionMenus</servlet-name>
        <url-pattern>/eleccionMenus</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>eleccionEntrantes</servlet-name>
        <url-pattern>/eleccionEntrantes</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>eleccionPizzas</servlet-name>
        <url-pattern>/eleccionPizzas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>eleccionHamburguesas</servlet-name>
        <url-pattern>/eleccionHamburguesas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>eleccionPasta</servlet-name>
        <url-pattern>/eleccionPasta</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>eleccionEnsaladas</servlet-name>
        <url-pattern>/eleccionEnsaladas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>eleccionBebidas</servlet-name>
        <url-pattern>/eleccionBebidas</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>eleccionPostres</servlet-name>
        <url-pattern>/eleccionPostres</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
